SECRET_KEY=your-super-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/coreinventory

# Brevo SMTP
BREVO_SMTP_USER=your-brevo-smtp-login
BREVO_SMTP_KEY=your-brevo-smtp-key
MAIL_SENDER=noreply@yourdomain.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
